@mixin orange-btn() {
  color: orange !important;
  &:hover {
    color: darkorange !important;
  }
}

/* helper */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-c {
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  color: orange;
  background: none;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s;
  white-space: nowrap;
  border: 2px solid orange;
  user-select: none;
  padding: 3px;
  &:hover {
    background: orange;
    color: #DFA;
  }
}
.btn-c.btn-full {
  width: 100%;
}
.btn-c.btn-50 {
  width: 50%;
}
.btn-c.btn-20 {
  width: 20%;
}

hr {
  margin: 1em 0;
  border: 2px dashed steelblue;
}
.join-btn {
  border: 2px solid cornflowerblue;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
  &:hover {
    background-color: cadetblue;
    border: 2px solid darkslategrey;
  }
}
.room-content-header {
  color: black;
  font-style: normal;
  font-weight: bold;
}

.paddingL20R5 {
  padding-left: 20px;
  padding-right: 5px;
}

/**//**//**//**//**/


body {
  background-color: #DFA;
  min-width: 500px;
}

header {
  .navbar.navbar-inverse {
    background-color: #858;
    border-radius: 0;
    border: none;
  }
  .about-site {
    cursor: url('https://www.w3schools.com/cssref/smiley.gif'), none;
    font-size: 30px;
    font-weight: 800;
    @include orange-btn();
  }
  .orange > a {
    @include orange-btn();
  }
}

h4 {
  @media (max-width: 1152px) {
    padding: 12px 0;
  }
}

.window {
  @media (max-width: 1152px) {
    margin: 0 1em 1em;
  }
  background-color: #DEB;
  border-radius: 20px;
  padding-bottom: 1px;
  box-shadow: 0 0px 10px #D84;
  color: #962;
  .form-control {
    &:focus {
      border-color: #66AF50;
    }
  }
}

.chat-content {
  margin: 0 10px 25px;
  display: flex;
  box-shadow: 0px 0px 10px orangered;
  border-radius: 20px 20px 0 0;
}

.chat-online-users-section {
  border-right: 1px solid sandybrown;
  background: white;
  border-radius: 20px 0 0;
  padding: 0;
  p {
    text-transform: capitalize;
    margin: 0;
  }
  p:first-child {
    font-weight: bold;
    color: navajowhite;
    background: sandybrown;
    border-radius: 15px 0 0;
    padding: 10px 0;
  }
  p:not(:first-child) {
    color: darkgreen;
    font-size: 13px;
    font-weight: bolder;
    border-bottom: 1px solid sandybrown;
  }
}

.chat-messages-section {
  border-left: 1px solid sandybrown;
  background: white;
  border-radius: 0 20px 0 0;
  padding: 0;
  p {
    text-transform: capitalize;
    margin: 0;
    font-weight: bolder;
  }
  p:first-child {
    color: navajowhite;
    background: sandybrown;
    border: none;
    border-radius: 0 15px 0 0;
    padding: 10px 0;
  }
}

