@mixin orange-btn() {
  color: orange !important;
  &:hover {
    color: darkorange !important;
  }
}

/* helper */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-c {
  outline: none;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  color: orange;
  background: none;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s;
  white-space: nowrap;
  border: 2px solid orange;
  user-select: none;
  padding: 3px;
  &:hover {
    background: orange;
    color: #DFA;
  }
}

/**//**//**//**//**/


body {
  background-color: #DFA;
}

header {
  .navbar.navbar-inverse {
    background-color: #858;
    border-radius: 0;
    border: none;
  }
  .about-site {
    cursor: url('https://www.w3schools.com/cssref/smiley.gif'), none;
    font-size: 30px;
    font-weight: 800;
    @include orange-btn();
  }
  .orange > a {
    @include orange-btn();
  }
}

#logInPage h4 {
  @media (max-width: 1152px) {
    padding-top: 12px;
  }
}

.log-in-form {
  @media (max-width: 1152px) {
    margin: 0 1em 1em;
  }
  background-color: #DEB;
  border-radius: 20px;
  box-shadow: 0 0px 10px #D84;
  color: #962;
  .form-control {
    &:focus {
      border-color: #66AF50;
    }
  }
}